/*
Fonts:
font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

Color scheme:

Off white back: #F7F6F6;
Grey: #C6C4C4;
Blue accents: #0A4F70 , #51C5DD;
Red accent: #F04C63;
*/

* {
	font-family: "Source Sans Pro", sans-serif, monospace;
}

body {
	background-color: #F7F6F6;
	margin: 0;
	width: 100%;
	height: 100%;
}

p, label {
	font-family: "Source Sans Pro", sans-serif, monospace;
	font-size: 24px;
	color: #0A4F70;
}

input {
  margin: 12px;
  border-radius: 5px;
  border-color: #C6C4C4;
}

input:invalid {
  background-color: pink;
}

button, input[type="button"], input[type="submit"] {
  color: #0A4F70;
  text-transform: uppercase;
  text-decoration: none;
  background: #F7F6F6;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid #C6C4C4;
  transition: 0.4s ease 0s;
  cursor: pointer;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #C6C4C4;
}

input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-out 0s;
  background: #C6C4C4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  vertical-align: text-bottom;
}

select {
	font-size: 18px;
}

input[type=radio], input[type=checkbox]:hover {
  background: #C6C4C4;
}


input[type=radio], input[type=checkbox]:checked {
  background: #F04C63;
}


input[type=radio], input[type=checkbox]:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "\2713";;
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}


input[type=radio], input[type=checkbox]:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #F04C63;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.loader {
  border: 16px solid #C6C4C4;
  border-top: 16px solid #F04C63;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.title {
	font-family: "Oxygen" sans-serif, monospace;
	font-size: 32px;
	color: #0A4F70;
}

.section {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	border-radius: 32px;
 	border: 2px #C6C4C4 solid;
 	text-align: center;
 	padding: 12px;
 	box-shadow: 2px 4px 4px #C6C4C4;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carSlide {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(0,0,0,0.3);
  color: #0A4F70;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	margin-left: -50%;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #0A4F70;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: -16px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #0A4F70;
  font-size: 32px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #F7F6F6;
  border: 2px solid #C6C4C4; 
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F04C63;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.carImage {
	width: 100%;
	height: 40%;
}

.carSlideImage {
	width: 100%;
	height: 400px;
}

.car {
	width: 22.5%;
	height: 200px;
	margin: 16px auto 16px auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.car[selected], .extrasCard[selected] {
	border: 2px solid #0A4F70;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.extrasCard {
	width: 90%;
	margin: 8px auto 8px auto;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #F7F6F6;
  border: 2px solid #C6C4C4;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #F04C63;
}

.detailInput {
	padding: 12px;
	font-size: 14px;
}

#ConfirmOverlay {
	background-color: #F04C63;
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: none; 
}

#TicketNo {
	padding-top: 32px;
}

#ReloadButton {
  position: fixed;
  font-size: 64px;
  top: 2%;
  right: 3%;
  text-decoration: none;
  color: #0A4F70;
}

#ReloadButton:hover {
	color: #F7F6F6;
}

#PageContainer {
	position: relative;
	min-height: 100vh;
}
#ContentWrap {
	padding-bottom: 325px;
}

#Header {
	background-color: #F04C63;
	height: 10%;
	width: 100vw;
	border-bottom: 4px solid #0A4F70;
}

#HeaderLogo {
	height: 100%;
	display: inline-block;
	margin-left: 0px;
	margin-right: auto;
	vertical-align: bottom;
}

#LocationTitle {
	font-family: "Oxygen", sans-serif, monospace;
	font-size: 32px;
	color: #0A4F70;
	margin-left: 65%;
	margin-right: auto;
	margin-bottom: 0px;
	display: inline-block;
	vertical-align: baseline;
}

#SubmitLoader {
	margin: auto;
	display: none;
}

#ErrorDiv {
	display: none;
	margin-top: 12px;
	background-color: #F04C63;
}

#StepForm {
	padding: 32px;
	margin-bottom: 16px;
}

#StepButtons {
  float: right;
  margin-right: 10%;
}

#CarSelectDiv {
	display: grid;
}

#CarSlideshow {
	display: none;
	grid-area: 1/1;
}

#CarCards {
	grid-area: 1/1;
	display: flex;
	flex-wrap: wrap;
}

#CarInfoDiv {
	display: grid;
}

#CarInformation {
	text-align: left;
	grid-column-start: info;
	grid-column-end: info;
	grid-row-start: first;
	grid-row-end: third;
}

#CarDetailsDiv {
	grid-area: 1/1;
	height: 250px;
	display: grid;
	grid-template-columns: [info] 2fr [price] 1fr;
	grid-template-rows: [first] 1fr [second] 1fr [third] 1fr;
}

#CarLoader {
	grid-area: 1/1;
	margin: auto;
}

#CarPrice {
	text-align: right;
	grid-column-start: price;
	grid-column-end: price; 
	grid-row-start: second;
	grid-row-end: second;
}

#ExtrasCards {
	display: flex;
	flex-wrap: wrap;
}

#ExtraDetail {
  width: 35%;
  height: 90px;
  margin: 12px;
  vertical-align: middle;
  resize: none;
}

#TermsLabel {
	font-size: 12px;
}

#DetailsGrid {
	display: grid;
	width: 80%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: [labels] 1fr [inputs] 1fr;
	grid-template-rows: [name] 1fr [email] 1fr [phone]
	 1fr [license] 1fr [age] 1fr [checkbox] 1fr;
}

#DetailsGrid label {
	margin: auto;
}

#NameLabel {
	grid-column-start: labels;
	grid-column-end: labels;
	grid-row-start: name;
	grid-row-end: name;
}

#EmailLabel {
	grid-column-start: labels;
	grid-column-end: labels;
	grid-row-start: email;
	grid-row-end: email;
}

#PhoneLabel {
	grid-column-start: labels;
	grid-column-end: labels;
	grid-row-start: phone;
	grid-row-end: phone;
}

#LicenseLabel {
	grid-column-start: labels;
	grid-column-end: labels;
	grid-row-start: license;
	grid-row-end: license;
}

#AgeLabel {
	grid-column-start: labels;
	grid-column-end: labels;
	grid-row-start: age;
	grid-row-end: age;
}

#NameInput {
	grid-column-start: inputs;
	grid-column-end: inputs;
	grid-row-start: name;
	grid-row-end: name;
}

#EmailInput {
	grid-column-start: inputs;
	grid-column-end: inputs;
	grid-row-start: email;
	grid-row-end: email;
}

#CellInput {
	grid-column-start: inputs;
	grid-column-end: inputs;
	grid-row-start: phone;
	grid-row-end: phone;
}

#DLNumber {
	grid-column-start: inputs;
	grid-column-end: inputs;
	grid-row-start: license;
	grid-row-end: license;
}

#AgeInput {
	grid-column-start: inputs;
	grid-column-end: inputs;
	grid-row-start: age;
	grid-row-end: age;
}

#TermsLabel {
	margin: auto;
	grid-column-start: labels;
	grid-column-end: labels;
	grid-row-start: checkbox;
	grid-row-end: checkbox;
}

#TermsCheckbox {
	grid-column-start: inputs;
	grid-column-end: inputs;
	grid-row-start: checkbox;
	grid-row-end: checkbox;
	padding: 0px;
	margin: auto auto 16px 0px;
}

#StepButtons {
	padding-top: 12px;
}

#Footer {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0px;
  	margin: 60px 0px 0px 0px;
	background-color: #F04C63;
	padding: 8px;
	border-top: 4px solid #0A4F70;
}

#ContactDetails {
	font-family: "Oxygen", sans-serif, monospace;
	color: #0A4F70;
}

#ContactDetails h2 {
	letter-spacing: 0.8px;
	font-size: 32px;
	margin-top: 8px;
}

#ContactDetails p {
	margin-bottom: 6px;
}

#FooterLogo {
	height: 100%;
	position: absolute;
	bottom: 2px;
	right: 16px;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1300px) {
	#LocationTitle {
		margin-left: 40%;
	}
}

@media only screen and (max-width: 1024px) {
	label, p {
		font-size: 18px;
	}

	.title {
		font-size: 26px;
	}
}

@media only screen and (max-width: 800px) {
	.car {
		width: 45%;
	}
	#LocationTitle {
		margin-left: 20%;
	}

	#StepButtons {
		float: none;
	}
}

@media only screen and (max-width: 570px) {
	#CarChangeButton {
		display: none;
	}

	#CarSlideshow {
		display: block !important;
	}

	#CarCards {
		display: none !important;
	}

	#LocationTitle {
		margin-left: auto;
	}

	#FooterLogo {
		display: none;
	}
}