/*
Fonts:
font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

Color scheme:

Off white back: #F7F6F6;
Grey: #C6C4C4;
Blue accents: #0A4F70 , #51C5DD;
Red accent: #F04C63;
*/